name: End to End Tests

on:
  pull_request:
    branches: [main, alpha]

env:
  NUXT_PUBLIC_BASE_URL: ${{ secrets.BASE_URL }}
  NUXT_PUBLIC_MODE: ${{ secrets.FSXA_MODE }}
  NUXT_PRIVATE_API_KEY: ${{ secrets.FSXA_API_KEY }}
  NUXT_PRIVATE_NAVIGATION_SERVICE: ${{ secrets.FSXA_NAVIGATION_SERVICE }}
  NUXT_PRIVATE_CAAS: ${{ secrets.FSXA_CAAS }}
  NUXT_PRIVATE_PROJECT_ID: ${{ secrets.FSXA_PROJECT_ID }}
  NUXT_PRIVATE_TENANT_ID: ${{ secrets.FSXA_TENANT_ID }}

jobs:
  e2etests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version-file: '.nvmrc'

      - name: use cache if package-lock has not changed
        uses: actions/cache@v3
        with:
          path: |
            node_modules
            */*/node_modules
          key: ${{ runner.os }}-${{ hashFiles('**/package-lock.json') }}

      - name: Install packages
        run: npm ci

      - name: Cypress run
        uses: cypress-io/github-action@v5
        with:
          build: npm run build
          start: npm run start
        env:
          CYPRESS_cyBaseURL: ${{ secrets.CY_BASE_URL }}
