name: Validation

on:
  pull_request:
    branches: [main, alpha]

jobs:
  validation:
    runs-on: ubuntu-latest
    if: github.event.pull_request.draft == false
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version-file: '.nvmrc'

      - name: use cache if package-lock has not changed
        uses: actions/cache@v3
        with:
          path: |
            node_modules
            */*/node_modules
          key: ${{ runner.os }}-${{ hashFiles('**/package-lock.json') }}

      - name: Install packages
        run: npm ci

      - name: Build nuxt app
        run: npm run build

      - name: Run tests
        run: npm run test

      - name: Release Dry Run
        run: npm run semantic-release:dry-run
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
