name: Validation

on:
  pull_request:
    branches: [main]

env:
  BASE_URL: ${{ secrets.BASE_URL }}

jobs:
  validation:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18.x

      - name: use cache if package-lock has not changed
        uses: actions/cache@v3
        with:
          path: |
            node_modules
            */*/node_modules
          key: ${{ runner.os }}-${{ hashFiles('**/package-lock.json') }}

      - name: Install packages
        run: npm ci

      - name: Run tests
        run: npm run test
        env:
          CYPRESS_cyBaseUrl: ${{ secrets.CY_BASE_URL }}

      - name: Release Dry Run
        run: npm run semantic-release:dry-run
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
